<ul class="comnt_list_wrap">
  <li class="comnt_item">
    <div class="comnt_item_thumb">
      <img src="https://i1.sndcdn.com/avatars-000273756630-ruxzkz-t120x120.jpg" />
    </div>
    <div class="comnt_item_text">
      <a href="/">닉네임</a>
      <span>2017.09.24 12:23 <- 댓글 작성 일시</span>
      <p>댓글 내용</p>
    </div>
    <a class="remove_comnt"></a>
    <ul class="reply_list_wrap">
      <li class="reply_item">
        <div class="comnt_item_thumb">
          <img src="https://i1.sndcdn.com/avatars-000273756630-ruxzkz-t120x120.jpg" />
        </div>
        <div class="comnt_item_text">
          <a href="/">닉네일</a>
          <span>2017.09.24 12:23 <- 대댓글 작성 일시</span>
          <p>대댓글 내용</p>
        </div>
        <a class="remove_comnt"></a>
      </li>
    </ul>
  </li>
</ul>
