<div id="container">
        <!-- <div class="sub_main" style="background-color: transparent;">
            <h2>POST TRACK</h2>
            <p>공유할 트랙을 선택하세요.</p>
            <a>도움말</a>
        </div> -->
        <div class="post_carousel_wrap">
            <ul class="post_carousel">
                <li class="post_track_con" data-hash="1">
                    <a href="#1"><img src="https://i1.sndcdn.com/artworks-000173376949-k8x4ze-t500x500.jpg"></a>
                    <p>Kamikaze (Feat. Wella Rhogus)</p>
                    <a class="select_post_btn">선택</a>
                </li>
                <!-- ---------------------------------------------------------- -->
                <li class="post_track_con" data-hash="2">
                    <a href="#2"><img src="https://i1.sndcdn.com/artworks-000173376949-k8x4ze-t500x500.jpg"></a>
                    <p>Kamikaze (Feat. Wella Rhogus)</p>
                    <a class="select_post_btn">선택</a>
                </li>
                <li class="post_track_con" data-hash="3">
                    <a href="#3"><img src="https://i1.sndcdn.com/artworks-000173376949-k8x4ze-t500x500.jpg"></a>
                    <p>Kamikaze (Feat. Wella Rhogus)</p>
                    <a class="select_post_btn">선택</a>
                </li>
                <!-- ---------------------------------------------------------- -->
            </ul>
            <div class="prev_select select_arrow"></div>
            <div class="next_select select_arrow"></div>
        </div>
        <div class="post_form_wrap">
            <div class="post_form_inner">
                <h4>트랙 정보 입력<div class="search_close_btn" onclick="history.back();"></div></h4>
                <h5>트랙 소개</h5>
                <div class="post_form">
                    <div>
                        <textarea id="artistbio" name="artistbio" value="Travis Scott" maxlength="600" placeholder="곡에 대한 소개를 적어주세요."></textarea>
                    </div>
                </div>
                <h5>가사 입력</h5>
                <div class="post_form">
                    <div>
                        <textarea id="artistbio" name="artistbio" value="Travis Scott" maxlength="600" placeholder="이 곡의 가사를 적어주세요."></textarea>
                    </div>
                </div>
                <h5>태그 입력</h5>
                <div class="post_form">
                    <div class="tag_wrap">
                        <input type="text" class="tagged form_control" name="tag_1" data-removeBtn="true" placeholder="태그를 입력해주세요. / 엔터로 구분">
                    </div>
                </div>
                <div class="post_btn_wrap">
                    <button>트랙 공개하기</button>
                </div>
            </div>
        </div>
    </div>