<div class="floating_player_wrap">
    <div class="float_player">
        <div class="progress">
            <div class="progress_bar"></div>
        </div>
        <div class="float_artwork" style="background-image: url(&quot;https://i1.sndcdn.com/artworks-000173376949-k8x4ze-large.jpg&quot;);"></div>
        <div class="float_info">
            <div class="float_title">곡제목</div>
            <div class="flost_artist">닉네임</div>
        </div>
        <div class="controls">
            <button class="bottom_prev"></button>
            <button class="play now"></button>
            <button class="bottom_next"></button>
        </div>
        <div class="sub_controls">
            <a class="sub_repeat_btn"></a>
            <a class="sub_shuffle_btn"></a>
            <a class="playlist_btn"></a>
        </div>
    </div>
</div>

<div class="fixed_player_wrap">
    <div class="player_top">
        <div class="play_track_thumb" style="background-image: url(https://i1.sndcdn.com/artworks-000248310109-muq9n5-t500x500.jpg);">
            <!-- <h3>NOW PLAYING</h3> -->
            <div href="#" class="play_profile">
                <div class="play_profile_img" style="background-image: url(https://i1.sndcdn.com/avatars-000304638905-y6qdft-t120x120.jpg);"></div>
                <a href="#">
                    <p>닉네임</p>
                </a>
                <a href="#"><span>곡제목</span></a>
                <div class="player_track_like active"></div>
            </div>
            <div class="player_console">
                <a class="player_repeat_btn active"></a>
                <a class="player_prev_btn"></a>
                <a class="player_play_btn"></a>
                <a class="player_next_btn"></a>
                <a class="player_shuffle_btn"></a>
            </div>
        </div>
        <div class="player_progress">
            <div class="progress_bar"></div>
        </div>
        <h4>PLAYLIST</h4>
    </div>
    <div class="player_list">
        <ol>
            <li>
                <a>곡제목</a>
                <div class="player_list_asset"></div>
            </li>
        </ol>
    </div>
</div>