    <div id="container">
        <div class="profile_top_wrap">
            <div class="profile_top">
                <div class="profile_top_img" style="background-image: url(https://i1.sndcdn.com/avatars-000289816634-ffh7qa-t500x500.jpg);">
                    <div class="top_artwork_play play_trigger" data-tracknum="295691453">
                        <img class="play_btn_img" src="/img/play.png">
                    </div>
                </div>
                <h2>닉네임</h2>
                <span class="profile_position">팀</span>
                <div class="profile_itrctn">
                    <a href="/user/modify.html" class="profile_set">edit</a>
                    <a href="#" class="follow_user checked">follow</a>
                </div>
                <span class="profile_location">지역</span>
                <p>소갯말</p>
                <div class="profile_social_wrap">
                    <ul>
                        <li>
                            <dd>팔로워수</dd>
                            <dt>FANATIC</dt>
                        </li>
                        <li>
                            <dd>총 재생수</dd>
                            <dt>PLAY</dt>
                        </li>
                        <li>
                            <dd>총 좋아요수</dd>
                            <dt>LIKE</dt>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="openmic_con_wrap_detail page_width">
            <h2 class="sub_title">이 아티스트의 트랙</h2>
            <app-asset-feed></app-asset-feed>
        </div>
    </div>