<div id="container">
        <form class="sub_main">
            <input type="search" name="search_track" placeholder="#키워드">
            <p>ALL TRACK 검색결과 <span id="previous_keyword">162(검색된 크랙수)</span>건</p>
            <button class="search_submit" style="margin-top: 20px;">검색하기</button>
        </form>
        <div class="list_wrap">
            <div class="page_width">
                <div class="onstage_con_wrap">
                    <app-asset-on-stage></app-asset-on-stage>
                </div>
            </div>
        </div>
    </div>