<ul>
  <li>
    <a class="opm_thumb" style="background-image:url(https://i1.sndcdn.com/artworks-000241159224-7l70gw-t500x500.jpg)">
      <div class="opm_play play_trigger rateit" data-tracknum="337683795" data-play="플레이 메시지">
        <img class="play_btn_img" src="/assets/img/play.png">
      </div>
    </a>
    <div class="opm_info">
      <div class="opm_profile_img" style="background-image: url(https://i1.sndcdn.com/avatars-000149216752-53eb05-t120x120.jpg);"></div>
      <a routerLink="/user/userid/" routerLinkActive="active">
        <p>닉네임</p>
      </a>
      <a routerLink="/track/tracknum/" routerLinkActive="active"><h4>곡제목</h4></a>
      <a class="opm_track_like dope rateit" data-dope="좋아요 메시지"></a>
    </div>
    <div class="opm_content">
      <p>본문이 들어가는 자리</p>
    </div>
    <div class="opm_feedback">
      <span class="play_rate_btn"><p></p><a>재생횟수</a></span>
      <span class="dope_btn"><p></p><a>좋아요횟수</a></span>
      <span class="comnt_btn"><p></p><a>댓글수</a></span>
    </div>
  </li>
</ul>
